name: Docker Image CI

on:
  workflow_run:
    workflows: [CI]
    types:
      - completed

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: TienYou-Nathan
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/UBER-CESI/api-customers:$(date +%s)
      run: docker run ghcr.io/UBER-CESI/api-customers:$(date +%s)
      run: docker push ghcr.io/UBER-CESI/api-customers:$(date +%s)

